<h1>All Clients</h1>

<div class="cards">
    <% @all_clients.each do |client|%>
       <div class="card">
            <%= image_tag client.avatar, class: "card-img-top" %>
            <div class="card-body">
                <h2 class="card-title"><%= client.name %></h2>
                <p class="card-text"><%= client.bio %></p>
                <%= button_to "View Profile", client_path(client), method: "get", class: "btn-primary" %>
            </div>
        </div>
    <% end %>
</div>
