<h1 class="display-3">Welcome to Workitout</h1>

<% if flash[ :messages ] %>
    <ul>
    <% flash[ :messages ].each do | error_message | %>
        <li style="color:red;"><%= error_message %></li>
    <% end %>
    </ul>
<% end %>

<p class="lead" >Join the WorkItOut community and begin your custom exercise journey! 
Login or Signup as a client to view custom workouts created for you by your coach, view a list of all exercises and exercise categories, and check out the other WorkItOuters and coaches. 
Login or Signup as a coach to create workouts for your clients, see all the exercises to choose from, add your own exercise specialties, and monitor your clients’ progress.
</p>
