<h1>All Coaches</h1>

<div class="cards">
    <% @coaches.each do |coach|%>
       <div class="card">
            <%= image_tag coach.avatar, class: "card-img-top" %>
            <div class="card-body">
                <h2 class="card-title"><%= coach.name %></h2>
                <p class="card-text"><%= coach.bio %></p>
                <%= button_to "View Profile", coach_path(coach), method: "get", class: "btn-primary" %>
            </div>
        </div>
    <% end %>
</div>
