<h1>All Coaches</h1>

<ol>
    <% @coaches.each do |coach|%>
    <li>
        <%= image_tag coach.avatar, size: "100" %><br />
        <%= link_to coach.name, coach_path(coach) %><br />
    </li>
    <% end %>
</ol>
