/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";

body {
    background-image: url(brick-wall.jpg);
    background-position: absolute;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

a:link { color: darkmagenta;}
a:visited { color: rgb( 65, 10, 100 );}
a:hover { color: darkslateblue;}
a:active { color: rgb( 65, 10, 100 );}

#navbar {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    background-color: rgb( 65, 10, 100 );
    color: white;
}

#navbar a:link { color: mistyrose;}
#navbar a:visited { color: plum;}
#navbar a:hover { color: fuchsia;}
#navbar a:active { color: white;}

#navbar #logo {
}

#navbar #status {
    font-size: 2vh;
}

.container-fluid {
}

#menu {
    flex-grow: auto;
    background-color: rgb(200, 150, 225);
}

.table-info {
    background-color: rgba( 65, 10, 100, 0.75 );
}

.table-info h2 {
    color: white;
}

.table-info td {
    text-align: center;
    padding: 1.5rem;
}

.cards {
   display: grid;
   grid-template-columns: 33% 33% 33%;
}

.card {
   position: relative;
   margin-bottom: 20px;
   margin-left: 10px;
   margin-right: 10px;
   padding-bottom: 30px;
}

ul, ol {
   list-style-type: "";
}