<h1>Browse Categories</h1>

<div class="cards">
    <% @categories.each do |category|%>
       <div class="card">
            <div class="card-body">
                <h4 class="card-title"><%= category.name %></h4>
                <p class="card-text">Mobility: <%= category.mobility %></p>
                <%= button_to "View Exercises/Coaches", category_path(category), method: "get", class: "btn-sm" %>
            </div>
        </div>
    <% end %>
</div>
