<div class="btn-group-vertical">
    <%= button_to "Browse categories", categories_path, method: "get", class: 'btn' %>
    <%= button_to "Browse exercises", exercises_path, method: "get", class: 'btn' %>
    <%= button_to "Browse WorkItOuters", clients_path, method: "get", class: 'btn' %>
    <%= button_to "Browse coaches", coaches_path, method: "get", class: 'btn' %>
</div>